[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = sassy
	email = 137994274+Xprofess0r@users.noreply.github.com
[core]
	editor = \"C:\\Users\\sassy\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
